# this is example to connect locally, in prod might differ depending on the hosting provider
# replace <username> with your mac name, type 'whoami' in terminal to find out
# for <password> , just leave it blank since we're doing local connection
# by default, the <port> for postgres is 5432
# change <database_name> with the name you create in postgres, see README.md for instructions
DATABASE_URL=postgresql://<username>:<password>@localhost:<port>/<database_name>